body{
    /* background: #94cafc; */
    background: url('jakedois.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.cabecalho, .novo{
    width: 60%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
}
.novo a{
    color: #032e6e;
    background: #ffffff;
    border: 1px solid #000000;
    text-transform: uppercase;
    font-size: 0.875em;
    padding: 0.275em 1em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 7px;
}
.novo a:hover{
    background: #baecf5;
    color: #002763;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
table{
    width: 60%; /* calcula o tamanho da página e faz a tabela percentualmente proporcional*/
    margin: 1em auto; 
    border-collapse: collapse;
}
thead{
    background: #000000;
    color: #ffffff; /* cor da letra do título */
    border: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
th{
    height: 2em;
    text-align: left;
    padding: 0.5em 0.5em 0.5em 1em;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 7px;
}
td{
    height: 1.5em;
    padding: 0.5em 1em;
    border: #000000;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    /* background: #ffffff; */
}
tbody tr{
    background: #ffffff;
}
tbody tr:hover{
    background: #82eff3;
}