body{
    background: url('marceline.png');
    background-repeat: no-repeat;
    background-position: right;
}
.cabecalho{
    width: 20%;
    margin: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
}
form{
    width: 40%;
    margin: auto;
    border: 2px solid #2579da;
    background: #dfe1e2;
    padding: 1em 3em 1em 4em;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 7px;
}
.btn_salvar{
    width: 20%;
    background: #7ec5f5;
    color: #000000;
    border: 1px solid #000000;
    padding: .275em;
    font-size: 0.875em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px; 
}
.btn_salvar:hover{
    background: #ffffff;
    color: #000000;
    cursor: pointer;
}
h1{
    color: #3c71c0;
}
.labels{
    width: 28%;
    display: inline-block;
    text-align: right;
}
.text-box{
    margin: .5em .275em .5em .1em;
    width: 70%;
    display: inline-block;
    border-radius: 7px;
}
