<html>
    <head>
        <title>Hbsis</title>
        <link rel="stylesheet" href="../static/tbls.css">
    </head>
    <body>
        <div class="cabecalho">
            <a href="/">
            <img src="../static/imagens/irmao do jorel.jpg" alt="">
            </a>
        </div>
        <ul>
            <li>VIENNA</li>
            <li>IPA</li>
            <li>PILSEN</li>
            <li>WEISS</li>
            <li></li>
            <li>WEISS</li>
            <li>WEISS</li>
        </ul>
        </body>
</html>