<html>
    <head>
        <tittle></tittle>
    </head>
        <body>
            <h1>Novo Aluno</h1>
            <form action="/salvar" method="POST">
                <label for="">Nome :</label><input type="text" name="nome"> <br/>                
                <label for="">Sobrenome :</label><input type="text" name="sobrenome"><br/>                
                <label for="">Telefone :</label><input type="text" name="telefone"><br/>                
                <hr />
                <input type="submit" value="Salvar">
            </form>
        </body>        
    </head>
</html>